:root {
    --text-color: #c8c8c8;
    --primary-color: #969696;
    --secondary-color: #646464;
    --box-color: #505050;
    --footer-color: #282828;
    --background-color: #1e1e1e;
    --logo-color: #7ce483;
    --logo-active-color: #7cfa83;
}